body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 40px 0;
  background-color: #f4f4f4;
  min-height: 90vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

h1 {
  text-align: center;
  color: #333;
}

.container {
  width: 700px;
  margin: auto;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

.results {
  margin-top: 20px;
  padding: 15px;
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
  /* border: 1px solid red; */
  width: 80%;
  max-height: 100vh;
  overflow-y: scroll;
}

.results li{
  list-style-type: none;
  padding: 4px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  input {
    width: 100%;
  }

  .results {
    width: 100%;
  }
}

@media (max-width: 480px) {
  body {
    padding: 20px 0;
  }

  h1 {
    font-size: 24px;
  }

  button {
    font-size: 14px;
  }
}